/*page*/
body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}


nav
{ 
    color: Black;
    background-color: lightgray;
}

h1
{
    color: white;
    background-color: lightsteelblue;
    border: 10xp steelblue solid;
}

